/* ------------FONTS------------ */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ------------VARIABLE------------ */
:root{
    /* FONT */
    --Font: "Work Sans", sans-serif;
    --Small-Font: 400;
    --Medium-Font: 600;
    --Big-font: 700;
    /* COLORS */
    --Principal: hsl(292, 42%, 14%);
    --Secondary: hsl(292, 16%, 49%);
    --Div-bg: hsl(0, 0%, 100%);
    --Web-bg: hsl(275, 100%, 97%);
    --hover: #AD28EB;
}

/* ------------RESET------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------BODY------------ */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/background-pattern-desktop.svg);
    background-color: var(--Web-bg);
    background-repeat: repeat-x;
    min-height: 100vh;
    padding: 100px;
    font-size: 1rem;
}

/* ------------CARD------------ */
.content-container{
    width: 670px;
    background-color: var(--Div-bg);
    border-radius: 20px;
    padding: 3.125em 2.5em 0.7em;
    font-family: var(--Font);
    color: var(--Principal);
    box-shadow: 0px 0px 50px rgba(0,0,0,0.2);
}

/* ------------CARD CONTENT------------ */

/* TITLE */
.title-container{
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 1.2em;
    margin-bottom: 0.25em;
    font-size: 2em;
    font-weight: var(--Big-font);
}

/* QUESTION TITLE */
.question-title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8em;
    padding: 1.875em 0px;
    font-weight: var(--Medium-Font);
    cursor: pointer;
}

/* QUESTION TITLE HOVER*/
.question-title-container:hover{
    color: var(--hover);
}

/* ANSWER CONTAINER */
.answer-container{
    padding: 0em 0em 1.5625em;
    font-weight: var(--Small-Font);
    color: var(--Secondary);
    font-size: 1.125em;
    line-height: 27px;
}

/* CLASSES FOR JS ANSWERS */
.open{
    display: block;
}

.close{
    display: none;
}

/* HR */
hr{
    border: transparent;
    border-bottom: 0.125em solid var(--Web-bg);
}